<form class="form" autocomplete="off">
  <div class="form-row">
    <div class="col" clickOutside (clickOutside)="toggleAutocomplete()">
      <input type="text" name="accountName" id="" class="form-control" placeholder="Account" (focus)="toggleAutocomplete()" [(ngModel)]="searchTerm"> 
      <div class="autocomplete" *ngIf="showAutocomplete" >
        <p *ngFor="let acc of allAccounts | searchFilter: getSearchValue()" (click)="selectAccount(acc)">{{acc.Name}}</p>
      </div>
    </div>
    <div class="col">
      <input type="number" name="accountValue" id="" class="form-control" placeholder="Amount">
    </div>
  </div>
</form>
