<h2>Transactions</h2>

<app-transaction-add></app-transaction-add>

<app-pagination (pageChange)="onPageChange($event)" [(totalItems)]="filteredTrasactions.length"
  [(itemsPerPage)]="itemsPerPage"></app-pagination>

<div class="filters" [formGroup]="filters">
  <label>Start Date:
    <input class="form-control" type="date" name="filterDateStart" formControlName="startDate">
  </label>
  <label>End Date:
    <input class="form-control" type="date" name="filterDateEnd" formControlName="endDate">
  </label>
  <label>Account:
    <select name="filterAccount" class="form-control" formControlName="accountSelected">
      <option value=""></option>
      <option [value]="account.Name" *ngFor="let account of accounts">{{account.Name}}</option>
    </select>
  </label>

  <!-- AUTO COMPLETE -->
  <br />
  <app-auto-complete [items]="accounts | mapProperty:'accountName'" (selected)="onSelectAccount($event)"></app-auto-complete>
  <!-- AUTO COMPLETE -->

</div>
<span>Showing {{filteredTrasactions.length}} of {{transactions.length}} transactions</span> ({{itemsPerPage}} items per
page)

<ul class="list-group">
  <div *ngFor="let transaction of filteredTrasactions | pagination:itemsPerPage:currentPage" class="transaction">
    <div class="date">{{transaction.date | date:'dd/MM/yyyy'}}</div>
    <div class="description" *ngIf="transaction.description">{{transaction.description}}</div>
    <div class="items">
      <div class="item header">
        <div class="account">Debited Accounts</div>
        <div class="value">Values</div>
        <div class="account">Credited Accounts</div>
      </div>
      <div class="item" *ngFor="let item of transaction.items"
        [ngClass]="{'debit': item.value < 0, 'credit': item.value > 0}">
        <div class="account">{{item.account}}</div>
        <div class="value">{{item.value > 0 ? '&nbsp;' : ''}}{{item.value | currency:'BRL'}}</div>
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-danger" (click)="onDeleteTransaction(transaction)">Delete</button>
      <button class="btn btn-warning" (click)="onStartEditTransaction(transaction)">Edit</button>
    </div>
    <div *ngIf="editingTransaction && transaction == editingTransaction">
      <app-transaction-add [allAccounts]="getAllAccounts()" [transaction]="transaction"
        (save)="onUpdateTransaction($event)"></app-transaction-add>
    </div>
  </div>
</ul>