.list-group-item {
  position: relative;
}

.list-group-item p {
  margin-bottom: 0;
}

.list-group-item span {
  font-weight: bold;
}

li {
  margin-bottom: 0.5em;
}

div.debit,
div.credit {
  position: relative;
  display: inline-block;
  width: 100%;
}

div.debit {
  color:red;
}

div.credit {
  color:green;
  right: 0;
  text-align: right;
}

div.date {
  text-align: center;
}

div.account,
div.value {
  display: inline-block;
}

div.debit div.account {
  left: 0;
}

div.credit div.account {
  right: 0;
}

div.value {
  left: 40px;
}