.list-group-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.list-group-item p {
  margin-bottom: 0;
}

.list-group-item span {
  font-weight: bold;
}

li {
  margin-bottom: 0.5em;
}

div.debit,
div.credit {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between
}

div.debit {
  color:red;
}

div.credit {
  color:green;
}

div.account {
  width: 40%;
}

div.account {
  /* order: 2; */
  text-align: left;
}

div.debit div.account {
  order: 0;
}

div.date {
  text-align: center;
}

div.value {
  flex-grow: 1;
}

div.value {
  text-align: right;
  
}

div.credit div.value {
  text-align: right;
  
}
