<nav>
  <ul class="pagination" *ngIf="_totalPages > 0">
    <li class="page-item" [ngClass]="{'active': p == currentPage}" (click)="onChangePage(1)"><a class="page-link"><<</a></li>
    <li class="page-item" [ngClass]="{'active': p == currentPage}" (click)="onChangePage(currentPage - 1)"><a class="page-link"><</a></li>
    <li class="page-item" [ngClass]="{'active': p == currentPage}" *ngFor="let p of pages" (click)="onChangePage(p)"><a class="page-link">{{p}}</a></li>
    <li class="page-item" [ngClass]="{'active': p == currentPage}" (click)="onChangePage(currentPage + 1)"><a class="page-link">></a></li>
    <li class="page-item" [ngClass]="{'active': p == currentPage}" (click)="onChangePage(_totalPages)"><a class="page-link">>></a></li>
  </ul>
</nav>
